/* 
    Project: Legal Pars
    Developer: Ali Jazbi
    Description: This website template is designed for SCM Pars Law Office to help them have a professional and informative website that showcases their company and its services. The template includes a minimal design and user-friendly interface that makes it easy to navigate and use.
    color pallet:
    #0B4577
    #094476
    #939393
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* change scroll style */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: #e4e4e4;
}
::-webkit-scrollbar-thumb {
    background: #11538deb;
}
::-webkit-scrollbar-thumb:hover {
    background: #094476;
}
/* add new font */
@font-face {
    font-family: 'vazir';
    src: url('../font/vazir.ttf');
}
/* Global Css */
body{
    font-family: 'vazir', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main{
    height: 100vh;
}
a{
    text-decoration: none;
    color: #333;
}
section , footer{
    width: 100%;
    height: 100vh;
}
footer{
    height: 58vh;
}
/* @media (min-width:992px){
    main{
        scroll-snap-type: y mandatory;
        overflow-y:scroll;
    }
    section , footer{
        scroll-snap-align: start;
    }
} */
.color-primary{
    color: #094476;
}
.color-secondary{
    color: #939393;
}
.color-blue{
    color: #0B4577;
}
.bg-blue{
    background-color: #0B4577;
}
.fs-1-rem{
    font-size: 1rem;
}
.fs-2-rem{
    font-size: 2rem;
}
.fs-3-rem{
    font-size: 3rem;
}
.ms-2px{
    margin-inline: 2px;
}
.ms-4-1{
    margin-inline: 41px;
}
.mt-10{
    margin-top: 10%;
}
.mt-20{
    margin-top: 20%;
}
.mt-30{
    margin-top: 30%;
}
.h-60{
    height: 60%;
}
.h-80{
    height: 80%;
}
.h-85{
    height: 85%;
}
.h-90{
    height: 90%;
}
.w-80{
    width: 80% !important;
}
.w-85{
    width: 85% !important;
}
.w-90{
    width: 90% !important;
}
.bg-curved{
    background: linear-gradient(270deg, #0b3e6bd5, #0d416eea, #083358);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
/* Custom Class */

/* Progress Bar */
#progress-bar{
    position:fixed;
    height:8px;
    width:0%;
    z-index: 999999;
    background:#083358;
    background:-webkit-linear-gradient(to right,#0d477a,#115896);
    background:linear-gradient(to right,#0d477a,#115896)
}
/*-----------------END------------------- */

/* Back to top  */
#button {
    display: inline-block;
    background:-webkit-linear-gradient(45deg, #083358 1%, #125c9d 100%);
    background:linear-gradient(45deg, #083358 1%, #125c9d 100%);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: -100px !important;
    left: 0px;
    transition: all ease-in-out .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 9999999;
    box-shadow: 0px 0px 7px #19191962
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
  /* ---------END---------- */

/* Navbar Start */
.navbar{
    width: 100%;
    background-color: white !important;
    padding: 9px 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.navbar .container{
    width: 80%;
}
.navbar .nav-item .nav-link {
    font-size: 16px;
    display: inline-block;
    position: relative;
}
.navbar .nav-item .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #3076b3 !important; ;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
.navbar .nav-item .nav-link:hover{
    color: #3076b3 !important;
}
.navbar .nav-item .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
/* Navbar END */

/* divider */
.divider-line{
    width: 6%;
    height: 3px;
    background-color: #0B4577;
}
.divider
{
	position: relative;
    margin-top: -30px;
	height: 1px;
}
.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #0B4577, transparent);
}
/* divider end */

/* Banner Start */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding:5vh 10vh;
    margin-top: -9vh;
    scroll-snap-align: start;
}
.banner img{
    width: 400px;
    height: 120px;
    margin-top: 70px;
}
.banner .cssbuttons-io-button {
    background: #1963a4;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-right: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 2em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 -0.6em 1.6em 0 #0B4577;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-left: 3.3em;
    cursor: pointer;
}
.banner .cssbuttons-io-button .icon {
    background: white;
    margin-right: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 2em;
    box-shadow: 0.1em 0.2em 0.6em 0.1em #0B4577;
    left: 0.3em;
    transition: all 0.3s;
}
.banner .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}
.banner .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #0B4577;
}
.banner .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.banner .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
/* Banner End */

/* Services Start */
#services{
    height: 80vh;
}
/* Services END */

/* Intellectual Property Start */
#intellectual-property img{
    filter: drop-shadow(20px 10px 10px #dadada83);
}
#intellectual-property h1{
    margin-top: 20%;
    font-size: 2.5em;
    background-image: linear-gradient(#094476, #0B4577, #094476);
    background-size: 90% 7px;
    line-height: 80px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out , color .5s ease-in-out;
}
#intellectual-property h1:hover {
    background-size: 90% 100%;
    background-position: 100% 100%;
    color: white;
}
.Import-regulations h1{
    background-size: 76% 7px !important;
    background-image: linear-gradient(#094476, #0B4577, #094476) !important;
    background-position: 100% 0% !important;
}
.Import-regulations h1:hover {
    background-size: 76% 100% !important;
    background-position: 100% 100% !important;
}
.rights-contracts h1{
    background-size: 82% 7px !important;
    background-image: linear-gradient(#094476, #0B4577, #094476) !important;
    background-position: 100% 0% !important;
}
.rights-contracts h1:hover {
    background-size: 82% 100% !important;
    background-position: 100% 100% !important;
}
/* Intellectual Property END */

#temporary-import{
    height: 70vh;
}
#practice-areas{
    position: relative;
}
.practice-areas-bg{
    width: 100%;
    height: 100%;
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center;    
    position: absolute;
    z-index: -1;
}
.practice-areas-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.447);
    z-index: -1;
}
#practice-areas .container{
    width: 90%;
}
footer{
    height: 58vh;
}



